
.product-tile-container {
    padding: 20px;
    text-align: center;
}

.product-tile .ant-card-meta-title {
    font-size: 1.2em;
}

.product-tile .ant-card-meta-description {
    margin-bottom: 10px;
}

.product-tile .ant-card-body {
    padding: 15px;
}

.product-tile img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.generate-bill {
    padding: 20px;
}

.floating-cart-button {
    position: fixed;
    bottom: 100px;
    right: 100px;
    margin-bottom: 130px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #1890ff;
    color: #fff;
}

.product-tile-container .total-summary {
    margin-top: 20px;
    text-align: right;
}

